/* This module is responsible for all the layout - Mobile first*/
body {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ul li {
    
    list-style-type: none;
}

a {
    text-decoration: none;
}

.app-wrapper {

    background: $light-grey;
    padding: 20px;
    position: relative;
    min-height: 415px;

    img {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
    }

    h2 {
        &.hidden {
            display: none;
        }
    }

    nav {
        text-align: center;
        margin: 20px 0;
    }

    &.hidden-content {
        nav, 
        ol {
            display: none;
        }
    }

    ul {
        overflow: hidden;
        margin: 0 auto;
        position: relative;

        li {
            cursor: pointer;
            text-align: center;
            display: inline-block;
            width: 20%;
            padding: 8px;
            margin-right: 4px;
            background-color: white;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
                text-transform: uppercase;
                font-size: 1.0rem;
                font-weight: bold;
                color: $guardian-blue;

            }

            &.active,
            &:hover,
            &:focus {
                    background-color: $guardian-blue;
                    color: white;
                    
                    a {
                        color: white;
                    }
            }
        }
    }

    ol {
        li {
            list-style-position:inside;

            a {
                display: block;
                padding: 8px;
                color: $guardian-blue;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    .spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,0.6);
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;

        p {
            color: white;
            font-size: 2.0rem;
            text-align: center;
            padding-top: 170px;
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* TODO - Style tablet and desktop */
@media only screen and (min-width: $breakpoint-tablet) {
    .app-wrapper {
        width: $breakpoint-tablet;
        margin: 0 auto;
    }
}

@media only screen and (min-width: $breakpoint-desktop) {
    .app-wrapper {
        width: $breakpoint-desktop;
    }
}